<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ma Liste de Courses</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

</head>
<body>
  
  <header>
    <h1 class="animate__animated animate__tada">e-nventary.</h1>

  </header>

  <div class="container">
    <div class="columns">
      <!-- Colonne En Stock -->
      <div class="stock">
        <h2 class="stock2">En Stock</h2>
        <ul>
          <% itemsEnStock.forEach(function(item) { %>
            <li>
              <span class="pomme"><%= item.item %></span>
              <span>Quantité : <%= item.quantity %></span>
              <span>Prix : <%= item.price.toFixed(2) %> €</span>
              <span>Catégorie : <%= item.category %></span>
              
             
              <form action="/increase/<%= item._id %>" method="POST">
                <button type="submit">+</button>
              </form>
              
              <form action="/decrease/<%= item._id %>" method="POST">
                <button type="submit">-</button>
              </form>

              
              <form action="/delete/<%= item._id %>" method="POST" >
                <button type="submit" class="delete-button">Supprimer</button>
              </form>
            </li>
          <% }); %>
        </ul>
      </div>

      <!-- Colonne À Racheter -->
      <div class="a-acheter">
        <h2 class="achat">À Racheter</h2>
        <ul>
          <% itemsAAcheter.forEach(function(item) { %>
            <li>
              <span class="pomme"><%= item.item %></span>
              <span>Quantité : <%= item.quantity %></span>
              <span>Prix : <%= item.price.toFixed(2) %> €</span>
              <span>Catégorie : <%= item.category %></span>
              
              <!-- Boutons pour augmenter et diminuer la quantité -->
              <form action="/increase/<%= item._id %>" method="POST">
                <button type="submit">+</button>
              </form>
              
              <form action="/decrease/<%= item._id %>" method="POST">
                <button type="submit">-</button>
              </form>

              <!-- Bouton de suppression de l'article -->
              <form action="/delete/<%= item._id %>" method="POST" >
                <button type="submit" class="delete-button">Supprimer</button>
              </form>
            </li>
          <% }); %>
        </ul>
      </div>
    </div>

    <!-- Formulaire d'ajout d'un produit -->
    <form action="/add" method="POST">
      <h3 class="ajout">Ajouter un nouvel article</h3>
      <input type="text" name="item" placeholder="Nom du produit" required>
      <input type="number" name="quantity" placeholder="Quantité" required>
      <input type="number" step="0.01" name="price" placeholder="Prix" required>
      <select name="category" required>
        <option value="Fruits">Fruits</option>
        <option value="Légumes">Légumes</option>
        <option value="Épicerie">Épicerie</option>
        <option value="Boulangerie">Boulangerie</option>
        <option value="menage">Produits ménagers</option>
        <option value="Produits laitiers">Produits laitiers</option>
        <option value="Boissons ">Boissons </option>
        <option value="Hygiène et beauté ">Hygiène et beauté </option>
      </select>
      <br>
      <button  class="boutonAjout" type="submit">Ajouter</button>
    </form> 
  </div>

</body>
</html>